<footer class="footer page-footer font-small mt-4">
    <div class="container">
        <div class="row p-4">
            <div class="col">
                unnecessara 2018 • <a href="#">Other stuff</a>
            </div>
        </div>
    </div>
</footer>