<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Pickles</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	 crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <!-- Custom -->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
    <div class="container">
        <h2>Pickles</h2>
        <div id="write">
            <form class="add-pickle-form" action="" method="post">
                <div class="prompt">Here a new prompt</div>
                <textarea name="content" id="content" class="input-area text-<% if (locals.pickle) { %><%= pickle.alignment %><% } %>" rows="10" cols="80"><% if (locals.pickle) { %><%= pickle.content %><% } %></textarea>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary btn-sm alignment-btn active">
                            <input type="radio" id="btn-left" name="option" value="left" autocomplete="off"><i class="fas fa-align-left"></i>
                        </label>
                        <label class="btn btn-outline-secondary btn-sm alignment-btn">
                            <input type="radio" id="btn-center" name="option" value="center" autocomplete="off"><i class="fas fa-align-center"></i>
                        </label>
                        <label class="btn btn-outline-secondary btn-sm alignment-btn">
                            <input type="radio" id="btn-right" name="option" value="right" autocomplete="off"><i class="fas fa-align-right"></i>
                        </label>
                    </div>
                    <input type="hidden" id="entry-id" name="id" value=" <% if (locals.pickle) { %><%= pickle.id %><% } %> ">
                    <button type="submit" id="save-btn" class="btn-outline-secondary btn-sm">Pickle This Please</button>
                    <button type="button" id="test" class="btn-outline-danger btn-sm">test</button>
                    <form>
                        <div id='type'>
                            <input type='radio' id='radio_1' name='type' value='1' />
                            <input type='radio' id='radio_2' name='type' value='2' />
                            <input type='radio' id='radio_3' name='type' value='3' /> 
                        </div>
                    </form>
                </div>
            </form>    
        </div>
    </div>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
 crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
 crossorigin="anonymous"></script>

 <script type="text/javascript" src="assets/js/pickles.js"></script>
 <script type="text/javascript">
    $( document ).ready(function() {
        // const pickleAlignment = $('#content').css('text-align');
        // console.log(pickleAlignment);
        // const radioBtn = $('.alignment-btn input[value = '+ pickleAlignment + ']');
        // radioBtn.prop('checked', true);

        $('#test').click(e => {
            console.log('clicked test');
            $('#btn-right').prop("checked", true);
            $("#radio_3").prop("checked", true);
            //$(".alignment-btn input[value = 'right']").prop('checked', true);
        })
    });
 </script>
</body>

</html>