<% include header.ejs %>
<body>
    <div class="container main-content" id="write">
        <img src="assets/img/picklesUp.png" id="title-img" class="rounded float-left mb-1 title-img-up" alt="pickles title image">
        <div class="row">
            <div class="col">  
                <% if (!locals.pickle) { %>
                <i id="prompt-refresh-btn" class="fas fa-random"></i>
                <% } %>
                <form class="add-pickle-form" action="" method="post"> 
                    <textarea name="content" id="content-area" class="input-area form-control text-<% if (locals.pickle) { %><%= pickle.alignment %><% } else { %>left<% }%>" rows="20" cols="90" autofocus><% if (locals.pickle) { %><%= pickle.content %><% } %></textarea>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary btn-sm alignment-btn active">
                            <input type="radio" id="btn-left" name="option" value="left" autocomplete="off" checked><i class="fas fa-align-left"></i>
                        </label>
                        <label class="btn btn-outline-secondary btn-sm alignment-btn">
                            <input type="radio" id="btn-center" name="option" value="center" autocomplete="off"><i class="fas fa-align-center"></i>
                        </label>
                        <label class="btn btn-outline-secondary btn-sm alignment-btn">
                            <input type="radio" id="btn-right" name="option" value="right" autocomplete="off"><i class="fas fa-align-right"></i>
                        </label>
                    </div>
                    <input type="hidden" id="entry-id" name="id" value="<% if (locals.pickle) { %><%= pickle.id %><% } %>">
                    <button type="submit" id="save-btn" class="btn-outline-secondary btn-sm">Pickle This Please</button>
                </form> 
            </div>   
        </div>
    </div>
    <% include footer.ejs %>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
 crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
 crossorigin="anonymous"></script>

 <script type="text/javascript" src="assets/js/pickles.js"></script>
 <script type="text/javascript">
    $(function() {

        // Making sure the right alignment button is selected when page loads        
        const pickleAlignment = $('#content-area').css('text-align');
        const radioBtn = $('.alignment-btn input[value = '+ pickleAlignment + ']');
        
        // Remove active class from default
        $('.alignment-btn').removeClass('active');
        // Add active class to the correct button
        radioBtn.parent().addClass('active');
        radioBtn.prop('checked', true);
    });
 </script>
</body>

</html>