.container {
    margin-top: 100px;
    max-width: 900px;
}

/* Write styles */
.input-area {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: gray;
}

/* Read styles */
.entry {
    padding: 50px;
}

.btn-test {
    position: absolute;
    top: 500px;
    right: 100px;
}

#save-btn {
    vertical-align: middle;
}