.container {
    margin-top: 100px;
    max-width: 800px;
}

/* Write styles */

#content-area {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: gray;
    display: block;
    margin-bottom: 5px;
    padding: 20px;
}

#prompt-question {
    display: inline;
    color: #6c757d;
    font-size: small;
}

/* Read styles */

#date {
    color: #6c757d;
    font-size: small;
}

#entry-content {
    padding: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 5px;
}

.btn-test {
    position: absolute;
    top: 500px;
    right: 100px;
}

#save-btn {
    vertical-align: middle;
}